

Flask==2.0.2
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0
Flask-CORS==3.0.10
requests==2.26.0
beautifulsoup4==4.9.3

pytextrank==3.2.0
python-dotenv==0.19.2
gunicorn==20.1.0
psycopg2-binary==2.9.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
numpy==1.23.5
blis==0.7.9
thinc==8.1.0
spacy==3.5.0

